<a href="https://colab.research.google.com/github/LaTran01/IST718_Lab/blob/Lab6_Housing/IST718_Lab6.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
# Predictive Model for Sustainable Products (Python)

# import packages for analysis and modeling
import pandas as pd  # data frame operations

import numpy as np  # arrays and math functions
from scipy.stats import uniform  # for training-and-test split
import statsmodels.api as sm  # statistical models (including regression)
import statsmodels.formula.api as smf  # R-like model specification
import matplotlib.pyplot as plt  # 2D plotting
import tensorflow as tf

import seaborn as sns  # PROVIDES TRELLIS AND SMALL MULTIPLE PLOTTING

/usr/local/lib/python3.7/dist-packages/statsmodels/tools/_testing.py:19: FutureWarning: pandas.util.testing is deprecated. Use the functions in the public API at pandas.testing instead.
  import pandas.util.testing as tm

In [ ]:
df=pd.read_csv('https://raw.githubusercontent.com/2SUBDA/IST_718/master/Zip_Zhvi_SingleFamilyResidence_20.csv')
print(df.StateName.unique())
#df.columns.map(type)

df.describe(include="all")

['OH' 'AR' 'NY' 'KY' 'OK' 'WV' 'MO' 'SC' 'FL' 'IL' 'GA' 'AL' 'PA' 'TN'
 'CO' 'LA' 'AZ' 'IA' 'MI' 'MD' 'CA' 'NC' 'IN' 'NJ' 'VA' 'ME' 'TX' 'WI'
 'VT' 'KS' 'MN' 'MA' 'SD' 'WA' 'NE' 'OR' 'NH' 'DE' 'CT' 'ID' 'RI' 'NV'
 'UT' 'AK' 'DC' 'HI' 'NM' 'ND' 'MS' 'MT' 'WY']

,RegionID,SizeRank,RegionName,RegionType,StateName,State,City,Metro,CountyName,1/31/2000,...,6/30/2019,7/31/2019,8/31/2019,9/30/2019,10/31/2019,11/30/2019,12/31/2019,1/31/2020,2/29/2020,3/31/2020
count,15408.000000,15408.000000,15408.000000,15408,15408,15408,15408,14101,15408,1.396300e+04,...,1.540800e+04,1.540800e+04,1.540800e+04,1.540800e+04,1.540800e+04,1.540800e+04,1.540800e+04,1.540800e+04,1.540800e+04,1.540800e+04
unique,NaN,NaN,NaN,1,51,51,7777,825,1276,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
top,NaN,NaN,NaN,Zip,NY,NY,New York,New York-Newark-Jersey City,Los Angeles County,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
freq,NaN,NaN,NaN,15408,1483,1483,169,879,268,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
mean,79620.636488,10153.479102,45350.862863,NaN,NaN,NaN,NaN,NaN,NaN,1.539659e+05,...,3.066115e+05,3.072381e+05,3.079271e+05,3.087147e+05,3.095288e+05,3.103493e+05,3.113398e+05,3.125082e+05,3.138341e+05,3.152201e+05
std,31172.628038,8001.290088,29698.755549,NaN,NaN,NaN,NaN,NaN,NaN,1.199998e+05,...,3.449736e+05,3.450985e+05,3.450770e+05,3.452549e+05,3.454030e+05,3.457326e+05,3.467901e+05,3.485185e+05,3.505806e+05,3.524208e+05
min,58004.000000,0.000000,602.000000,NaN,NaN,NaN,NaN,NaN,NaN,1.120900e+04,...,1.788800e+04,1.840600e+04,1.886200e+04,1.917600e+04,1.893600e+04,1.841000e+04,1.792600e+04,1.740400e+04,1.686300e+04,1.618600e+04
25%,65792.750000,3885.750000,19115.750000,NaN,NaN,NaN,NaN,NaN,NaN,8.424800e+04,...,1.382298e+05,1.388948e+05,1.395022e+05,1.400418e+05,1.405415e+05,1.411150e+05,1.415210e+05,1.420988e+05,1.425990e+05,1.430370e+05
50%,75633.000000,7778.500000,40209.000000,NaN,NaN,NaN,NaN,NaN,NaN,1.258520e+05,...,2.164575e+05,2.171190e+05,2.180500e+05,2.188685e+05,2.196745e+05,2.203645e+05,2.212215e+05,2.217985e+05,2.225175e+05,2.234440e+05
75%,90069.000000,14914.500000,73169.250000,NaN,NaN,NaN,NaN,NaN,NaN,1.865415e+05,...,3.514838e+05,3.521440e+05,3.528108e+05,3.538128e+05,3.548035e+05,3.557175e+05,3.565390e+05,3.575478e+05,3.584592e+05,3.602148e+05
max,753844.000000,34430.000000,99801.000000,NaN,NaN,NaN,NaN,NaN,NaN,4.119865e+06,...,8.665174e+06,8.704005e+06,8.653878e+06,8.558984e+06,8.451378e+06,8.356810e+06,8.303433e+06,8.293072e+06,8.271645e+06,8.221444e+06